*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.allure

*.iml
.idea

# virtual machine crash logs, see https://www.java.com/en/download/help/error_hotspot.html
hs_err_pid*
out/

build
target
.gradle

build/test-results
kotest-tests/kotest-tests-htmlreporter/reports/

allure-results/

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

allure.log
kotest.log
kotest-tests-junit-report.log
kotest-tests-core.log

local.properties
.kotest
/kotest-examples/kotest-examples-javascript/node_modules/
/kotest-examples/kotest-examples-javascript/package-lock.json
*.gpg.enc

kotest-tests/kotest-tests-js/node_modules/
documentation/site/
node_modules/

.docusaurus
.DS_Store
yarn.lock
