# This project is run using Gradle TestKit, which does not require these files.
# However, it is convenient to open up the project in IntelliJ, which will automatically
# download Gradle files - but since they're not nessessary, don't commit them.
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
# gradle.properties is auto-updated by a task in kotest-tests-android/build.gradle.kts
gradle.properties

# Don't ignore licenses - they're required by Android to auto download the SDK
ANDROID_SDK/*
!ANDROID_SDK/licenses/

# these should be excluded by the root .gitignore, but defining them here helps IntelliJ ignore them (maybe?)
.idea
.gradle
build/
