body {
   font-family: Helvetica, sans-serif;
   margin: 3%;
}

h1 {
   margin: 25px 0;
}

table {
   text-align: center;
   border-collapse: collapse;
   margin: 25px 0;
}

tr {
   border-bottom: 1px solid grey;
}

td, th {
   padding: 10px 20px;
}

.failure {
   background: #ffb2b2;
}

.success {
   background: #b2d8b2;
}

a {
   color: inherit;
}
