<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example"
    android:versionCode="2"
    android:versionName="1.0.0-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:theme="@style/Theme.MyTheme">
        <activity android:name=".activity.MainActivity">
        </activity>

        <service
            android:name=".service.SampleIntentService"
            android:exported="false" />

        <receiver
            android:name=".receiver.AlarmManagerReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
