<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.kotest.androidtest">

    <application>
        <activity android:name="io.kotest.androidtest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
