name: docs-test

on:
   pull_request:
      paths:
         - 'documentation/**'

permissions:
   contents: read

jobs:
   build:
      permissions:
         contents: write  # for Git to git push
      runs-on: ubuntu-latest
      steps:
         -  uses: actions/checkout@v3
         -  uses: actions/setup-node@v3
            with:
               node-version: '16.x'
         -  name: Build static docusaurus pages
            run: |
               npm --prefix documentation ci
               npm --prefix documentation run build
