name: master

on:
   push:
      paths-ignore:
         - 'doc/**'
         - 'documentation/**'
         - '*.md'
         - '*.yml'
         - '.github/workflows/**'
      branches:
         - master

# This will prevent multiple parallel runs, and will a cancel queued runs except the latest one.
concurrency:
   group: 'master-ci'
   # Allow any already started jobs to finish, so we don't leave snapshot builds in a broken state.
   cancel-in-progress: false

permissions:
   contents: read

jobs:
   validate-api:
      name: Validate API
      if: github.repository == 'kotest/kotest'
      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         runs-on: ubuntu-latest
         ref: ${{ inputs.ref }}
         task: apiCheck

   build-primary:
      needs: validate-api
      strategy:
         matrix:
            include:
               # KMP
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=KotlinMultiplatform"
               # JVM
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=jvm"
               # JS
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=js"
               # Linux
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=linux"
               # Wasm
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=wasm"
               # Android
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=android"
      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         ref: ${{ inputs.ref }}
         task: >
            -P"kotest_enableKotlinJs=true"
            -P"kotest_enableKotlinNative=true"
            ${{ matrix.args }}
            --no-configuration-cache
            check publishToAppropriateCentralRepository
         runs-on: ${{ matrix.os }}

      # macos runners have a limited number of concurrent jobs, so we run linux tasks first to smoke test, and only
      # run macos tests if we know the JVM/JS/linux tests pass.
   build-secondary-targets:
      needs: build-primary
      strategy:
         matrix:
            include:
               # Windows: MinGW
               -  os: windows-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=jvm,mingw"
               # Apple: macOS
               -  os: macos-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=macOS"
               # Apple: iOS
               -  os: macos-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=iOS"
               # Apple: tvOS
               -  os: macos-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=tvOS"
               # Apple: watchOS
               -  os: macos-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=watchOS"

      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         ref: ${{ inputs.ref }}
         task: >
            -P"kotest_enableKotlinJs=true"
            -P"kotest_enableKotlinNative=true"
            ${{ matrix.args }}
            --no-configuration-cache
            check publishToAppropriateCentralRepository
         runs-on: ${{ matrix.os }}

   build-gradle:
      needs: build-primary
      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         ref: ${{ inputs.ref }}
         task: >
            --no-configuration-cache
            publishKotestGradlePluginPluginMarkerMavenPublicationToDevPublishMavenRepository
         runs-on: ubuntu-latest
