name: master

on:
   push:
      paths-ignore:
         - 'doc/**'
         - 'documentation/**'
         - '*.md'
         - '*.yml'
         - '.github/workflows/**'
      branches:
         - master

permissions:
   contents: read

jobs:

   validate-abi:
      name: Run ABI validations
      if: github.repository == 'kotest/kotest'
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ubuntu-latest
         ref: ${{ inputs.ref }}
         task: apiCheck --continue


   validate-all:
      name: Run all Gradle validations
      if: github.repository == 'kotest/kotest'
      needs: check-abi
      strategy:
         matrix:
            include:
               -  os: macos-latest
               -  os: ubuntu-latest
               -  os: windows-latest
         fail-fast: false
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ${{ matrix.os }}
         ref: ${{ inputs.ref }}
         task: check --continue


   publish-sonatype:
      name: Publish all artifacts to Sonatype (Maven Central)
      if: github.repository == 'kotest/kotest'
      needs: [ check-abi, check-all ]
      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         runs-on: macos-latest
         ref: ${{ inputs.ref }}
         task: publishAllPublicationsToDeployRepository
