name: master

on:
   push:
      paths-ignore:
         - 'doc/**'
         - 'documentation/**'
         - '*.md'
         - '*.yml'
         - '.github/workflows/**'
      branches:
         - master

# This will prevent multiple parallel runs, and will a cancel queued runs except the latest one.
concurrency:
   group: 'master-ci'
   # Allow any already started jobs to finish, so we don't leave snapshot builds in a broken state.
   cancel-in-progress: false

permissions:
   contents: read

jobs:
   validate-api:
      name: Validate API
      if: github.repository == 'kotest/kotest'
      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         runs-on: ubuntu-latest
         ref: ${{ inputs.ref }}
         task: apiCheck

   build-primary:
      needs: validate-api
      strategy:
         matrix:
            include:
               # KMP+JVM
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=KotlinMultiplatform,jvm"
               # JS+Wasm
               -  os: ubuntu-latest
                  args: >-
                     -P"kotest_enableKotlinJs=true"
                     -P"kotest_enabledPublicationNamePrefixes=js,wasm"
               # Linux+Android
               -  os: ubuntu-latest
                  args: >-
                     -P"kotest_enableKotlinNative=true"
                     -P"kotest_enabledPublicationNamePrefixes=linux,android"
               # Windows: MinGW
               -  os: windows-latest
                  args: >-
                     -P"kotest_enableKotlinNative=true"
                     -P"kotest_enabledPublicationNamePrefixes=mingw"
               # Apple: macOS,iOS,tvOS,watchOS
               -  os: macos-latest
                  args: >-
                     -P"kotest_enableKotlinNative=true"
                     -P"kotest_enabledPublicationNamePrefixes=macOS,iOS,tvOS,watchOS"
      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         ref: ${{ inputs.ref }}
         task: >
            -P"kotest_enableKotlinJs=false"
            -P"kotest_enableKotlinNative=false"
            ${{ matrix.args }}
            --no-configuration-cache
            check
            publishToAppropriateCentralRepository
         runs-on: ${{ matrix.os }}
