name: PR-Test

on:
   pull_request:
      paths-ignore:
         - 'doc/**'
         - 'documentation/**'
         - '*.md'
         - '*.yml'

jobs:
   build:
      strategy:
         matrix:
            os: [ macOS-latest, windows-latest, ubuntu-latest ]

      runs-on: ${{matrix.os}}

      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v2

         -  name: Run ubuntu tests
            if: matrix.os == 'ubuntu-latest'
            run: ./gradlew check --scan

         -  name: Run windows tests
            if: matrix.os == 'windows-latest'
            run: ./gradlew mingwX64Test --scan

         -  name: Run macOS tests
            if: matrix.os == 'macOS-latest'
            run: ./gradlew macosX64Test --scan

         -  name: Run watchOS tests
            if: matrix.os == 'macOS-latest'
            run: ./gradlew watchosArm32TestKlibrary watchosArm64TestKlibrary watchosX86Test --scan

         -  name: Bundle the build report
            if: failure()
            run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

         -  name: Upload the build report
            if: failure()
            uses: actions/upload-artifact@master
            with:
               name: error-report
               path: build-reports.zip

env:
   GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
