name: build-pr

on:
   pull_request:
      paths-ignore:
         - 'doc/**'
         - '*.md'

jobs:
   build:
      runs-on: ubuntu-latest

      strategy:
         matrix:
            product: [ "IC-193", "IC-201", "IC-202", "IC-203", "IC-211" ]
         max-parallel: 5

      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v2

         -  uses: actions/setup-java@v1
            with:
               java-version: '11'
               java-package: jdk
               architecture: x64

         -  name: Run ubuntu tests
            run: ./gradlew check
            env:
               PRODUCT_NAME: ${{ matrix.product }}

         -  name: Bundle the build report
            if: failure()
            run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

         -  name: Upload the build report
            if: failure()
            uses: actions/upload-artifact@master
            with:
               name: error-report
               path: build-reports.zip

env:
   GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
