name: PR-Test

on:
   pull_request:
   merge_group:

permissions:
   contents: read

jobs:
   determine-workflows-to-run:
      name: Determine workflows to run
      runs-on: ubuntu-latest
      outputs:
         run_docs: ${{ steps.check_files.outputs.run_docs }}
         run_tests: ${{ steps.check_files.outputs.run_tests }}
      steps:
         -  name: Checkout code
            uses: actions/checkout@v4
            with:
               fetch-depth: 2

         -  name: check modified files
            id: check_files
            run: |
               echo "run_docs=false" >> $GITHUB_OUTPUT
               echo "run_tests=false" >> $GITHUB_OUTPUT

               echo "=============== list modified files ==============="
               git diff --name-only HEAD^ HEAD

               echo "========== check paths of modified files =========="
               git diff --name-only HEAD^ HEAD > files.txt
               while IFS= read -r file
               do
                 echo $file
                 if [[ $file != documentation/* ]]; then
                   echo "This modified file is not under the 'documentation' folder. Will run tests."
                   echo "run_tests=true" >> $GITHUB_OUTPUT
                 else
                   echo "This modified file is under the 'documentation' folder. Will run docs workflow."
                   echo "run_docs=true" >> $GITHUB_OUTPUT
                 fi
               done < files.txt

   validate-api:
      name: Validate API
      needs: [ determine-workflows-to-run ]
      if: ${{ github.repository == 'kotest/kotest' && needs.determine-workflows-to-run.outputs.run_tests == 'true' }}
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ubuntu-latest
         ref: ${{ inputs.ref }}
         task: apiCheck --continue

   validate-primary-regular:
      name: Regular tests on primary runner
      if: ${{ github.repository == 'kotest/kotest' && needs.determine-workflows-to-run.outputs.run_tests == 'true' }}
      needs: [ determine-workflows-to-run, validate-api ]
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ubuntu-latest
         ref: ${{ inputs.ref }}
         task: check -Dkotest.tags=!Deprecated --continue

   validate-primary-deprecated:
      name: Deprecated tests on primary runner
      if: ${{ github.repository == 'kotest/kotest' && needs.determine-workflows-to-run.outputs.run_tests == 'true' }}
      needs: [ determine-workflows-to-run, validate-api, validate-primary-regular ]
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ubuntu-latest
         ref: ${{ inputs.ref }}
         task: check -Dkotest.tags=Deprecated --continue

   validate-secondary-regular:
      name: Regular tests on secondary runners
      if: ${{ github.repository == 'kotest/kotest' && needs.determine-workflows-to-run.outputs.run_tests == 'true' }}
      needs: [ determine-workflows-to-run, validate-api, validate-primary-regular ]
      strategy:
         matrix:
            os: [ macos-latest, windows-latest ]
         fail-fast: false
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ${{ matrix.os }}
         ref: ${{ inputs.ref }}
         task: check -Dkotest.tags=!Deprecated --continue

   validate-secondary-deprecated:
      name: Deprecated tests on secondary runners
      if: ${{ github.repository == 'kotest/kotest' && needs.determine-workflows-to-run.outputs.run_tests == 'true' }}
      needs: [ determine-workflows-to-run, validate-api, validate-primary-regular ]
      strategy:
         matrix:
            os: [ macos-latest, windows-latest ]
         fail-fast: false
      uses: ./.github/workflows/run-gradle.yml
      with:
         runs-on: ${{ matrix.os }}
         ref: ${{ inputs.ref }}
         task: check -Dkotest.tags=Deprecated --continue

   validate-docs:
      needs: [ determine-workflows-to-run ]
      if: ${{ github.repository == 'kotest/kotest' && needs.determine-workflows-to-run.outputs.run_docs == 'true' }}
      runs-on: ubuntu-latest
      steps:
         -  uses: actions/checkout@v4
            with:
               ref: ${{ inputs.ref }}
         -  uses: actions/setup-node@v3
            with:
               node-version: '18.4.0'
         -  name: Build static docusaurus pages
            run: |
               npm --prefix documentation ci
               npm --prefix documentation run build

   finalize:
      # see https://github.community/t/status-check-for-a-matrix-jobs/127354/7
      name: Final PR results
      needs: [ validate-api, validate-primary-regular, validate-secondary-regular, validate-docs ]
      if: ${{ always() }}
      runs-on: ubuntu-latest
      steps:
         -  name: Check all job status
            # see https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#needs-context
            # see https://stackoverflow.com/a/67532120/4907315
            # Note: skipped results are OK in our case, we don't run code tests if there's only docs changes
            if: >-
               ${{
                    contains(needs.*.result, 'failure')
                 || contains(needs.*.result, 'cancelled')
               }}
            run: exit 1
