name: build-pr

on:
   pull_request:
      paths-ignore:
         - 'doc/**'
         - '*.md'

jobs:
   build:
      runs-on: ubuntu-latest

      strategy:
         matrix:
            product: [ "IC-211", "IC-212", "IC-213", "IC-221", "IC-222", "IC-223" ]
         max-parallel: 10
         fail-fast: false

      steps:
         -  uses: actions/checkout@v3
            with:
               fetch-depth: 0

         -  uses: actions/setup-java@v3
            if: ${{ matrix.product != 'IC-223' }}
            with:
               distribution: 'adopt'
               java-version: '11'

         -  uses: actions/setup-java@v3
            if: ${{ matrix.product == 'IC-223' }}
            with:
               distribution: 'temurin'
               java-version: '17'

         -  name: Run tests
            run: ./gradlew check
            env:
               PRODUCT_NAME: ${{ matrix.product }}

         -  name: Bundle the build report
            if: failure()
            run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

         -  name: Upload the build report
            if: failure()
            uses: actions/upload-artifact@master
            with:
               name: error-report
               path: build-reports.zip

env:
   GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
