name: release_windows

on:
   workflow_dispatch:
      inputs:
         version:
            description: "The release version"
            required: true

jobs:
   publish:
      runs-on: windows-latest

      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v2
            with:
               fetch-depth: 0

         -  name: deploy to sonatype
            run: ./gradlew publishMingwX64PublicationToDeployRepository
            env:
               RELEASE_VERSION: ${{ github.event.inputs.version }}
               OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
               OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
               ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
               ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}

env:
   GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
