name: release_base

on:
   workflow_dispatch:
      inputs:
         version:
            description: "The release version"
            required: true
         branch:
            description: "The branch to release from"
            required: true
            default: 'master'

env:
   RELEASE_VERSION: ${{ inputs.version }}
   OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
   OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
   ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
   ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}

permissions:
   contents: read

jobs:
   publish_base:
      runs-on: ubuntu-latest
      strategy:
         max-parallel: 1
         matrix:
            target:
               - :kotest-assertions:kotest-assertions-ktor:publishLinuxX64PublicationToDeployRepository
               - :kotest-assertions:kotest-assertions-ktor:publishLinuxArm64PublicationToDeployRepository
               - :kotest-assertions:kotest-assertions-ktor:publishAndroidNativeX86PublicationToDeployRepository
               - :kotest-assertions:kotest-assertions-ktor:publishAndroidNativeX64PublicationToDeployRepository
               - :kotest-assertions:kotest-assertions-ktor:publishAndroidNativeArm32PublicationToDeployRepository
               - :kotest-assertions:kotest-assertions-ktor:publishAndroidNativeArm64PublicationToDeployRepository
      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v4
            with:
               ref: ${{ inputs.branch }}

         -  name: Setup JDK
            uses: actions/setup-java@v4
            with:
               distribution: "temurin"
               java-version-file: .github/.java-version

         -  uses: gradle/actions/setup-gradle@v4

         -  name: publish
            run: ./gradlew ${{ matrix.target }}
