name: release_ios

on:
   workflow_dispatch:
      inputs:
         version:
            description: "The release version"
            required: true
         branch:
            description: "The branch to release from"
            required: true
            default: 'master'

env:
   RELEASE_VERSION: ${{ github.event.inputs.version }}
   OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
   OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
   ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
   ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}

permissions:
   contents: read

jobs:
   publish_ios:
      runs-on: macos-latest
      strategy:
         max-parallel: 1
         matrix:
            target:
               - ":kotest-assertions:kotest-assertions-ktor:publishIosX64PublicationToDeployRepository"
               - ":kotest-assertions:kotest-assertions-ktor:publishIosSimulatorArm64PublicationToDeployRepository"
               - ":kotest-assertions:kotest-assertions-ktor:publishIosArm64PublicationToDeployRepository"
      steps:
         -  name: Checkout the repo
            uses: actions/checkout@v4
            with:
               ref: ${{ github.event.inputs.branch }}

         -  name: Setup JDK
            uses: actions/setup-java@v4
            with:
               distribution: "temurin"
               java-version-file: .github/.java-version

         -  uses: gradle/actions/setup-gradle@v4

         -  name: publish
            run: ./gradlew ${{ matrix.target }}
