name: publish

on:
   workflow_dispatch:
      inputs:
         version:
            description: "The release version"
            required: true
         branch:
            description: "The branch to release from"
            required: true
            default: 'master'

env:
   RELEASE_VERSION: ${{ inputs.version }}
   OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
   OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
   ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
   ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
   NEW_MAVEN_CENTRAL_USERNAME: ${{ secrets.NEW_MAVEN_CENTRAL_USERNAME }}
   NEW_MAVEN_CENTRAL_PASSWORD: ${{ secrets.NEW_MAVEN_CENTRAL_PASSWORD }}

concurrency:
   group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
   cancel-in-progress: true


permissions:
   contents: read


jobs:
   publish:
      strategy:
         # Not sure if this is still true on new maven central, perhaps parallel uploads are now supported?
         max-parallel: 1 # Sonatype doesn't like parallel uploads, so disable it where possible
         fail-fast: false
         matrix:
            include:
               # Publish 'common' components (KotlinMultiplatform,jvm,js) only on Linux, to avoid duplicate publications
               -  os: ubuntu-latest
                  args: -P"kotest_enabledPublicationNamePrefixes=wasmJs"
#
#               # Windows: MinGW
#               -  os: windows-latest
#                  args: -P"kotest_enabledPublicationNamePrefixes=mingw"
#
#               # Apple: macOS, iOS, tvOS, watchOS
#               -  os: macos-latest
#                  args: -P"kotest_enabledPublicationNamePrefixes=macOS,iOS,tvOS,watchOS"

      uses: ./.github/workflows/run-gradle.yml
      secrets: inherit
      with:
         ref: ${{ inputs.ref }}
         task: >
            -P"kotest_enableKotlinJs=true"
            -P"kotest_enableKotlinNative=true"
            ${{ matrix.args }}
            --no-parallel
            --no-configuration-cache
            publishToAppropriateCentralRepository
         runs-on: ${{ matrix.os }}
